@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row introduction">
    <div class="col-md-12">
        <h3>Giới thiệu</h3>
        <p>
            EVShop Online  được thành lập tháng 10 năm 2015, là doanh nghiệp chuyên kinh doang các sản phẩm điện tử,
            thời trang, mỹ phẩm, hàng cao cấp..
            Với trang thiết bị hiện đại, cùng với đội ngũ nhân viên chuyên nghiệp, EVShop Online
            mang đến những sản phẩm có chất lượng cao, tiến độ giao hàng đảm bảo, giá thành hợp lý nhằm đáp ứng yêu cầu và nhu cầu
            khác nhau của khách hàng.
        </p>
        <b>Chính sách mua hàng</b>
        <ul>
            <li><i class="glyphicon glyphicon-ok"></i> Cam kết giao hàng tối đa trong vòng 60 phút (bán kính 10km) toàn bộ 63 tỉnh thành</li>
            <li><i class="glyphicon glyphicon-ok"></i> Miễn phí giao hàng trong bán kính 20km có đặt shop.</li>
            <li><i class="glyphicon glyphicon-ok"></i> Với khoảng cách lớn hơn 20km, nhân viên FPT Shop sẽ tư vấn chi tiết về cách thức giao nhận thuận tiện nhất</li>
            <li><i class="glyphicon glyphicon-ok"></i> Cam kết 100% là hàng chính hãng, bảo hành, đổi trả trên toàn quốc.</li>
            <li><i class="glyphicon glyphicon-ok"></i> Hỗ trợ kỹ thuật online miễn phí qua tổng đài.</li>
            <li><i class="glyphicon glyphicon-ok"></i> Tiết kiệm thời gian, thỏa sức mua sắm 24/7.</li>
            <li><i class="glyphicon glyphicon-ok"></i> Khuyến mãi mới cập nhật liên tục</li>
        </ul>
        <b>Chính sách bảo hành</b>
        <ul>
            <li><i class="glyphicon glyphicon-ok"></i> Khách hàng được đổi trả 100% giá trị máy lỗi trong 15 ngày</li>
            <li><i class="glyphicon glyphicon-ok"></i> Khách hàng dùng thử, không thích có thể đổi trả đến 90% giá máy</li>
            <li><i class="glyphicon glyphicon-ok"></i> Khách hàng được đổi trả miễn phí 30 ngày (đối với phụ kiện)</li>
            <li><i class="glyphicon glyphicon-ok"></i> Đảm bảo 100% hàng chính hãng được bán ra tại FPTShop</li>
        </ul>
    </div>
</div>
