<div class="panel panel-default">
    <div class="list-group">
        <div class="panel-heading">
            <strong>Tìm kiếm</strong>
        </div>
        <form action="/Product/List">
            <input id="search" name="Keywords" placeholder="Keyword" class="form-control" />
        </form>
    </div>
</div>